<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe width="{{ platform.width() }}" height="{{ platform.width()/2c }}" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
  <ion-button (click)="startVideo()">Start video</ion-button>
  <ion-button (click)="startAudio()">Start audio</ion-button>
  <ion-button (click)="stopAudio()" color="danger">Stop audio</ion-button>
  <form [formGroup]="todoForm" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Picture</ion-label>
      <img *ngIf="capturedSnapURL" width="20%" [src]="capturedSnapURL" />
      <ion-button (click)="takeSnap()">
        Take Snap
      </ion-button>
    </ion-item>
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!todoForm.valid">Agregar
    </ion-button>
  </form>
</ion-content>