<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="logout()">Cerrar sesion</ion-button>
  <ion-img width="5%" [src]="auth.user.imageUrl"></ion-img>
  <form [formGroup]="todoForm" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Picture</ion-label>
      <img *ngIf="capturedSnapURL" width="20%" [src]="capturedSnapURL" />
      <ion-button (click)="takeSnap()">
        Take Snap
      </ion-button>
    </ion-item>
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!todoForm.valid">Agregar
    </ion-button>
  </form>
</ion-content>